<launch>
  <arg name="set_frame_id" default="base_scan"/>
  <node pkg="asr_mild_base_laserscanner" type="sickpls" name="sickpls" output="screen">
  <param name="serial" value="/dev/ttyUSB0"/>
  <param name="topic" value="/scan"/>
  </node>

  <arg name="set_frame_id" default="base_scan"/>
  <node pkg="asr_mild_base_laserscanner" type="sickpls" name="sickpls" output="screen">
  <param name="serial" value="/dev/ttyUSB1"/>
  <param name="topic" value="/scan2"/>
  </node>
</launch>
