<launch>
    <param name="port" value="/dev/ttyUSB2"/>
    <param name="scan_duration" value="0.025"/>
   	<param name="scan_cycle_time" value="0.040"/>
    <param name="inverted" value="true"/>         
   	<param name="scan_id" value="7"/>
    <param name="frame_id" value="base_laser_rear"/>
  
  <node pkg="cob_sick_s300" type="cob_sick_s300" name="driverSickRear" output="screen"></node></launch>
